<!DOCTYPE html>
<html lang="en">

<th:block th:insert="~{fragments/head.html}"/>

<body class="font-poppins text-lg w-screen">

	<th:block th:insert="~{fragments/header.html}"/>
	
	<div class="container">

		<div class="flex flex-col">
			<h1 class="text-4xl text-primary mt-10 mb-6 ml-40">Account</h1>
			<div class="my-12 mx-40 flex justify-between">
				<form id="account-form" action="" class="w-full">
					<table class="w-full shadow-2xl">
						<tr class="border-2 text-left">
							<th class="p-4 text-primary">Name</th>
							<th class="text-primary">Email</th>
							<th class="text-primary">Address</th>
							<th></th>
						</tr>
	
						<tr class="border-2 text-left">
							<td class="p-4"><input class="bg-gray-50 p-4 rounded hover:bg-gray-100 focus:bg-gray-200" type="text" placeholder="John Doe"></td>
							<td><input class="bg-gray-50 p-4 rounded hover:bg-gray-100 focus:bg-gray-200" type="email" placeholder="johndoe@gmail.com"></td>
							<td><input class="bg-gray-50 p-4 rounded hover:bg-gray-100 focus:bg-gray-200" type="text" placeholder="1234 Elm St, Springfield, IL 62701"></td>
							<td><button id="save-button" class="bg-button-hover text-white w-32 h-10 transition-all cursor-not-allowed" type="submit" disabled>Save Changes</button></td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		
        <th:block th:insert="~{fragments/footer.html}"/>
	</div>

	<script>
		var saveButton = document.getElementById('save-button');
		var accountForm = document.getElementById('account-form');

		// When the user clicks the save changes button, save the input values as the new placeholders
		accountForm.addEventListener('submit', function(event) {
			event.preventDefault(); // Prevent form submission

			document.querySelectorAll('input').forEach(input => {
				if (input.value !== '') {
					input.placeholder = input.value;
					input.value = '';
				}
			});

			// Disable save button and add the appropriate classes
			saveButton.disabled = true;
			saveButton.classList.add('cursor-not-allowed');
			saveButton.classList.add('bg-button-hover');
			saveButton.classList.remove('bg-button');
		});

		// when the user types in the input fields, enable the save changes button
		document.querySelectorAll('input').forEach(input => {
			input.addEventListener('input', () => {
				saveButton.disabled = false;
				saveButton.classList.remove('cursor-not-allowed');
				saveButton.classList.remove('bg-button-hover');
				saveButton.classList.add('bg-button');
			});
		});
		
		// When the user clicks out of the input fields, if they are all empty, disable the save changes button
		document.querySelectorAll('input').forEach(input => {
			input.addEventListener('blur', () => {
				var allEmpty = true;
				document.querySelectorAll('input').forEach(input => {
					if (input.value !== '') {
						allEmpty = false;
					}
				});

				if (allEmpty) {
					saveButton.disabled = true;
					saveButton.classList.add('cursor-not-allowed');
					saveButton.classList.add('bg-button-hover');
					saveButton.classList.remove('bg-button');
				}
			});
		});
	</script>
</body>
</html>