<!DOCTYPE html>
<html lang="en">
  <th:block th:insert="~{fragments/head.html}" />

  <body class="font-poppins text-lg w-screen">
    <th:block th:insert="~{fragments/header.html}" />

    <div class="container text-primary">
		<div class="checkout-left w-3/4 flex flex-col justify-between items-center px-32">
			<div class="w-full flex flex-col gap-4">
				<p class="font-bold text-2xl">Checkout</p>

				<div class="step flex justify-between items-center">

				</div>

				<div>
					<p class="text-xl">Ship To</p>
				</div>

				<form action="">
					<div class="shipping">
						<div class="flex flex-col">
							<label>Address</label>
							<input class="bg-gray-50 p-4 rounded hover:bg-gray-100 focus:bg-gray-200" type="text" placeholder="1234 Elm St, Springfield, IL 62701">
						</div>

						<div class="flex flex-col">
							<label>Phone Number</label>
							<input class="bg-gray-50 p-4 rounded hover:bg-gray-100 focus:bg-gray-200" type="text" placeholder="01224587155">
						</div>

						<div class="flex">
							<input name="billing" id="billing" type="checkbox" checked>
							<label for="billing">Use as billing address</label>
						</div>

						<button class="bg-button text-white w-1/2 h-1/5 self-center hover:cursor-pointer hover:bg-button-hover transition-all">Next</button>

						<input class="bg-button text-white w-1/2 h-1/5 self-center hover:cursor-pointer hover:bg-button-hover transition-all" type="submit" value="Place Order" hidden>
					</div>

					<div class="payment" hidden>
						
					</div>

					<div class="review" hidden>
						
					</div>
				</form>
			</div>
		</div>

		<div class="checkout-right 1/4">

		</div>
    </div>

      <th:block th:insert="~{fragments/footer.html}" />
    </div>
  </body>
</html>