<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/homepage.css}"/>
    <script th:src="'https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js'"></script>
    <link th:href="'@{/css/splide.min.css}'" rel="stylesheet"/>
    <!-- Add your other head elements (scripts, links, etc.) here -->

</head>
<body>

<th:block th:insert="~{fragments/header.html}"/>
<div class="container">
    <div class="slider-container">
        <div class="slider">
            <div class="slide">
                <img th:src="@{/images/591dff7e-205e-40fe-b24f-e6533282254e.avif}" alt="Image 2"/>
            </div>
            <div class="slide">
                <img th:src="@{/images/f925e78e-43c4-44a2-91b3-b26e9d5f89ca.avif}" alt="Image3"/>
            </div>
            <!-- Add more slides as needed -->
        </div>
        <div class="slider-btns"></div>
    </div>
</div>


<div class="container">
    <div th:if="${categories != null and #lists.size(categories) > 0}">
        <a th:each="category : ${categories}" th:href="@{/productlist(category=${category.category_name})}">
            <div class="category-card">
                <div class="category-image">
                    <img th:src="@{/images/{categoryName}.webp(categoryName=${category.category_name})}" alt="" />
                </div>
                <div class="category-content">
                    <i class="icon"></i>
                    <h2 th:text="${category.category_name}"></h2>
                </div>
            </div>
        </a>
    </div>
    <th:block th:if="${categories == null or #lists.size(categories) == 0}">
    <p>No categories available</p>
</th:block>
</div>

<div class="featured-products-container">
    <div class="inner_featured-products">
        <h1>FEATURED PRODUCTS</h1>
    </div>
    <div class="product-recommendations">
        <!-- Add your product recommendations content here -->
        <div th:each="product : ${products}" class="product_Item">
            <!-- Add your product item content here -->
        </div>
        <!-- Add your buttons for prev/next and modal here -->
    </div>
</div>

<!-- Add your Thymeleaf modal content here -->

<!-- Include Thymeleaf footer -->

<th:block th:insert="~{fragments/footer.html}"/>
<!-- Add your scripts here -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:src="@{/js/homepage.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<script th:src="@{/js/wishlist.js}"></script>
</body>
</html>
