<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/loginAndSignup.css}"/>
    <script th:src="'https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js'"></script>
    <link th:href="'@{/css/splide.min.css}'" rel="stylesheet"/>
	<link rel="stylesheet" href="/css/loginAndSignup.css">

</head>
<body>

<th:block th:insert="~{fragments/header.html}"/>
<div class="containerI">
	<div class="form-header">
		<h1 style="padding-bottom: 80px;">You've successfuly logged out. Log back in ?</h1><br>

		<a href="/auth/login" class="submit-button">Login</a>
	  

	 </div>
</div>

<th:block th:insert="~{fragments/footer.html}"/>


<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:src="@{/js/homepage.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<script th:src="@{/js/wishlist.js}"></script>
</body>
</html>