<!DOCTYPE html>
<html lang="en">

<th:block th:insert="~{fragments/head.html}"/>

<body class="font-poppins text-lg w-screen overflow-x-hidden">
	
	<div class="container">
		<div class="flex flex-col items-center justify-center h-screen">
            <h1 class="text-4xl text-primary mb-10">You have been logged out</h1>
            <a href="/auth/login" class="text-primary hover:text-primary-dark">Click here to log back in</a>
            <span class="countdown">
                <span>5</span>
            </span>
        </div>
	</div>

    <script>
         // Wait 5 seconds then redirect to home page
        setTimeout(() => {
            window.location.href = '/';
        }, 5000);

        // Countdown timer
        const countdown = document.querySelector('.countdown span');
        let count = 5;
        countdown.textContent = count;
        function updateCountdown() {
            count--;
            countdown.textContent = count;
        }
        setInterval(updateCountdown, 1000);
    </script>
</body>
</html>