<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.10.3/dist/cdn.min.js"
      defer
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      /* Style for discounted price */
      .discounted-price {
        color: green; /* Example color */
        font-weight: bold; /* Example style */
      }

      /* Style for original price */
      .original-price {
        color: red; /* Example color */
        text-decoration: line-through;
        font-style: italic;
      }

      /* Style for regular price (no discount) */
      .regular-price {
        color: blue; /* Example color */
        font-weight: normal;
      }
    </style>
  </head>
  <body class="font-poppins text-lg w-screen overflow-x-hidden">
    <th:block th:insert="~{fragments/head.html}" />
    <th:block th:insert="~{fragments/header.html}" />

    <div class="container mx-auto px-4 sm:px-6 lg:px-8 my-12">
      <div class="mx-4 sm:mx-6 lg:mx-32 my-12">
        <div
          class="flex flex-col sm:flex-row justify-between items-center mb-10"
        >
          <h1
            class="text-3xl text-primary mb-4 sm:mb-0"
            th:text="${category}"
          ></h1>
          <button
            id="filter-open"
            class="bg-button text-white w-32 h-10 hover:cursor-pointer hover:bg-button-hover transition-all"
          >
            Filter
          </button>
        </div>

        <!-- Check if there are products -->
        <th:block th:if="${products.empty}">
          <div class="flex flex-col items-center justify-center h-72">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-12 h-12"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M18.364 18.364A9 9 0 0 0 5.636 5.636m12.728 12.728A9 9 0 0 1 5.636 5.636m12.728 12.728L5.636 5.636"
              />
            </svg>
            <p class="mt-4 text-lg text-gray-600">No products to display</p>
          </div>
        </th:block>

        <!-- Product listing -->
        <div class="flex flex-wrap justify-center gap-8">
          <!-- Iterate over the list of products -->
          <div
            th:each="itemWithImages : ${products}"
            class="card border border-gray-200 rounded-lg p-4 hover:shadow-lg transition-shadow duration-300"
            style="width: 220px; margin: 10px"
          >
            <div
              class="flex flex-col justify-between items-center hover:cursor-pointer"
              th:onclick="|window.location.href='/api/item/' + ${itemWithImages.item.itemId} + ''|"
            >
              <!-- Display the first image of the product -->
              <img
                th:src="@{${'/images/' + itemWithImages.images.iterator().next().imagePath}}"
                alt=""
                class="object-cover rounded-t-lg"
                style="width: 200px; height: 200px"
              />
              <p
                class="text-lg mt-4 text-center font-semibold text-gray-800"
                th:text="${itemWithImages.item.itemTitle}"
              >
                Product Title
              </p>
            </div>
            <div class="w-full flex flex-col items-center mt-4">
              <!-- Calculate and display the discounted price if there's an offer -->
              <p
                class="font-bold text-xl text-gray-900 mb-2 discounted-price"
                th:if="${itemWithImages.item.itemOffers > 0}"
                th:text="'EGP ' + ${itemWithImages.item.itemPrice * (1 - itemWithImages.item.itemOffers / 100)}"
              ></p>
              <p
                class="text-red-500 text-xl line-through italic original-price"
                th:if="${itemWithImages.item.itemOffers > 0}"
                th:text="'EGP ' + ${itemWithImages.item.itemPrice}"
              ></p>
              <p
                class="text-primary text-xl regular-price"
                th:if="${itemWithImages.item.itemOffers == 0}"
                th:text="'EGP ' + ${itemWithImages.item.itemPrice}"
              ></p>
              <!-- Check if the item is in stock -->
              <th:block th:if="${itemWithImages.item.itemQuantity > 0}">
                <div class="w-full flex justify-center">
                  <th:block th:if="${user != null}">
                    <form th:action="@{/cart/add}" method="post">
                      <!-- Modal Container with Alpine.js -->
                      <div x-data="{ open: false }">
                        <!-- Button to trigger modal -->
                        <button
                          @click="open = true"
                          type="submit"
                          class="add_to_bag_btn hover:cursor-pointer transition-all focus:outline-none"
                        >
                          <input
                            type="hidden"
                            name="itemId"
                            th:value="${itemWithImages.item.itemId}"
                          />
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 text-gray-600 hover:text-gray-800 transition-colors"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"
                            />
                          </svg>
                        </button>

                        <!-- Modal -->
                        <div
                          x-show="open"
                          class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center z-50"
                          x-transition:enter="transition ease-out duration-300"
                          x-transition:enter-start="opacity-0 transform translate-y-4"
                          x-transition:enter-end="opacity-100 transform translate-y-0"
                          x-transition:leave="transition ease-in duration-300"
                          x-transition:leave-start="opacity-100 transform translate-y-0"
                          x-transition:leave-end="opacity-0 transform translate-y-4"
                        >
                          <div
                            class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all max-w-lg w-full"
                          >
                            <div class="p-4">
                              <div
                                class="flex justify-between items-center border-b pb-2"
                              >
                                <h3 class="text-lg font-medium text-gray-900">
                                  Item Added to Cart
                                </h3>
                                <button
                                  type="button"
                                  @click="open = false"
                                  class="text-gray-400 hover:text-gray-600"
                                >
                                  <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                    fill="none"
                                    viewBox="0 0 24 24"
                                    stroke="currentColor"
                                  >
                                    <path
                                      stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M6 18L18 6M6 6l12 12"
                                    />
                                  </svg>
                                </button>
                              </div>
                              <div class="mt-4">
                                <p class="text-gray-600">
                                  Your item has been successfully added to the
                                  cart.
                                </p>
                              </div>
                              <div class="mt-6 flex justify-end">
                                <button
                                  type="button"
                                  @click="open = false"
                                  class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition"
                                >
                                  Close
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </th:block>
                </div>
              </th:block>
              <th:block th:if="${itemWithImages.item.itemQuantity == 0}">
                <div class="w-full flex justify-center items-center mt-2">
                  <span class="text-red-500 font-semibold">Out of Stock</span>
                </div>
              </th:block>
            </div>
          </div>
        </div>

        <!-- Pagination Controls -->
        <div class="flex justify-center mt-8">
          <nav aria-label="Page navigation">
            <ul class="inline-flex items-center -space-x-px">
              <li>
                <a
                  th:href="@{/search(page=${currentPage - 1}, size=${pageSize}, title=${title}, category=${category}, minPrice=${minPrice}, maxPrice=${maxPrice}, sort=${sort})}"
                  th:if="${currentPage > 0}"
                  class="px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  >Previous</a
                >
              </li>
              <li th:each="pageNum : ${#numbers.sequence(0, totalPages - 1)}">
                <a
                  th:href="@{/api/search(page=${pageNum}, size=${pageSize}, title=${title}, category=${category}, minPrice=${minPrice}, maxPrice=${maxPrice}, sort=${sort})}"
                  th:text="${pageNum + 1}"
                  th:classappend="${pageNum == currentPage} ? 'z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'"
                ></a>
              </li>
              <li>
                <a
                  th:href="@{/search(page=${currentPage + 1}, size=${pageSize}, title=${title}, category=${category}, minPrice=${minPrice}, maxPrice=${maxPrice}, sort=${sort})}"
                  th:if="${currentPage < totalPages - 1}"
                  class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
                  >Next</a
                >
              </li>
            </ul>
          </nav>
        </div>
      </div>

      <th:block th:insert="~{fragments/footer.html}" />
    </div>

    <div
      id="filter-overlay"
      class="bg-white fixed z-50 top-0 right-0 w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-10 h-full border-2 flex flex-col translate-x-full transition-all overflow-y-scroll"
    >
      <svg
        id="filter-close"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6 absolute right-5 top-6 opacity-50 hover:cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"
        />
      </svg>

      <form action="/api/search" method="get" class="flex flex-col h-full">
        <p class="text-4xl font-bold text-primary mb-14">Filter</p>

        <input type="hidden" name="title" th:value="${name}" />
        <div class="mb-12">
          <p class="text-xl">Sort</p>
          <select
            name="sort"
            class="w-full h-10 border border-gray-300 rounded mt-2"
          >
            <option value="1">None</option>
            <option value="2">Price: Low to High</option>
            <option value="3">Price: High to Low</option>
            <option value="4">Newest</option>
          </select>
        </div>

        <div class="mb-12">
          <p class="text-xl">Category</p>
          <div class="flex flex-col mt-2">
            <details class="mb-2">
              <summary>Categories</summary>
              <div class="ml-4">
                <th:block th:each="cat : ${categories}">
                  <label class="flex items-center">
                    <input
                      type="radio"
                      name="category"
                      class="form-radio h-5 w-5 text-gray-600"
                      th:value="${cat.category_name}"
                      th:checked="${cat.category_name == category}"
                    />
                    <span
                      class="ml-2 text-gray-700"
                      th:text="${cat.category_name}"
                    ></span>
                  </label>
                </th:block>
              </div>
            </details>
          </div>
        </div>

        <div class="mb-12">
          <p class="text-xl">Price</p>
          <div class="flex flex-row justify-start items-center gap-4">
            <input
              type="number"
              name="minPrice"
              class="w-24 h-10 border border-gray-300 rounded mt-2 placeholder:p-2"
              placeholder="Min"
            />
            <input
              type="number"
              name="maxPrice"
              class="w-24 h-10 border border-gray-300 rounded mt-2 placeholder:p-2"
              placeholder="Max"
            />
          </div>
        </div>

        <button
          id="filter-open"
          class="bg-button text-white w-40 h-14 hover:cursor-pointer hover:bg-button-hover transition-all"
          type="submit"
        >
          Apply
        </button>
      </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/cart.js}"></script>
    <script>
      var filterOpen = document.getElementById("filter-open");
      var filterClose = document.getElementById("filter-close");
      var filterOverlay = document.getElementById("filter-overlay");

      // Function to open the filter
      function openFilter() {
        filterOverlay.classList.remove("translate-x-full");
      }

      // Function to close the filter
      function closeFilter() {
        filterOverlay.classList.add("translate-x-full");
      }

      // Event listener to open the filter
      filterOpen.addEventListener("click", function (event) {
        event.stopPropagation();
        openFilter();
      });

      // Event listener to close the filter
      filterClose.addEventListener("click", closeFilter);

      // Event listener to close the filter when clicking outside of the overlay
      document.addEventListener("click", function (event) {
        // Check if the click target is outside the filter overlay
        if (
          !filterOverlay.contains(event.target) &&
          event.target !== filterOpen
        ) {
          closeFilter();
        }
      });
    </script>
  </body>
</html>
