<!DOCTYPE html>
<html lang="en">

<th:block th:insert="~{fragments/head.html}"/>

<body class="font-poppins text-lg">

    <th:block th:insert="~{fragments/header.html}"/>

	<div class="container">
		<div class="my-12 ml-24">
			<h1 class="mb-10 mr-4 text-3xl opacity-65">Baby & Child Care</h1>

			<div class="flex flex-wrap justify-start">
				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/kirito.jpg" alt="" class="w-60">
					<p class="text-2xl">Kirito</p>
					<p>$999.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/zenitsu.jpg" alt="" class="w-60">
					<p class="text-2xl">Zenitsu</p>
					<p>$649.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/kirito.jpg" alt="" class="w-60">
					<p class="text-2xl">Kirito</p>
					<p>$999.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/zenitsu.jpg" alt="" class="w-60">
					<p class="text-2xl">Zenitsu</p>
					<p>$649.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/kirito.jpg" alt="" class="w-60">
					<p class="text-2xl">Kirito</p>
					<p>$999.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/zenitsu.jpg" alt="" class="w-60">
					<p class="text-2xl">Zenitsu</p>
					<p>$649.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/kirito.jpg" alt="" class="w-60">
					<p class="text-2xl">Kirito</p>
					<p>$999.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/zenitsu.jpg" alt="" class="w-60">
					<p class="text-2xl">Zenitsu</p>
					<p>$649.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/kirito.jpg" alt="" class="w-60">
					<p class="text-2xl">Kirito</p>
					<p>$999.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/zenitsu.jpg" alt="" class="w-60">
					<p class="text-2xl">Zenitsu</p>
					<p>$649.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/kirito.jpg" alt="" class="w-60">
					<p class="text-2xl">Kirito</p>
					<p>$999.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/zenitsu.jpg" alt="" class="w-60">
					<p class="text-2xl">Zenitsu</p>
					<p>$649.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/kirito.jpg" alt="" class="w-60">
					<p class="text-2xl">Kirito</p>
					<p>$999.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/zenitsu.jpg" alt="" class="w-60">
					<p class="text-2xl">Zenitsu</p>
					<p>$649.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/kirito.jpg" alt="" class="w-60">
					<p class="text-2xl">Kirito</p>
					<p>$999.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/zenitsu.jpg" alt="" class="w-60">
					<p class="text-2xl">Zenitsu</p>
					<p>$649.99</p>
				</div></a>
				
				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/kirito.jpg" alt="" class="w-60">
					<p class="text-2xl">Kirito</p>
					<p>$999.99</p>
				</div></a>

				<a href="product.html"><div class="flex flex-col justify-between items-center border-b-4 border-l-4 rounded p-6 mb-10 mr-4 w-64 h-96 shadow-2xl hover:shadow-inner transition-all">
					<img src="images/zenitsu.jpg" alt="" class="w-60">
					<p class="text-2xl">Zenitsu</p>
					<p>$649.99</p>
				</div></a>
			</div>
		</div>

		<th:block th:insert="~{fragments/footer.html}"/>
	</div>
</body>
</html>