<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/loginAndSignup.css}"/>
    <script th:src="'https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js'"></script>
    <link th:href="'@{/css/splide.min.css}'" rel="stylesheet"/>
    <!-- Add your other head elements (scripts, links, etc.) here -->

</head>
<body>

<th:block th:insert="~{fragments/header.html}"/>
<div class="signupcontainer">
    <form th:action="@{/auth/signup}" th:object="${signupRequest}" method="post" class="form-main" id="form-main">
        
        <button type="submit" class="submit-button">Create My Account</button>

        <div class="form_second">
            <p>Already have an account?
                <a href="/auth/login" class="link">Login here</a>
            </p>
        </div>
    </form>
</div>


<th:block th:insert="~{fragments/footer.html}"/>
<!-- Add your scripts here -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:src="@{/js/homepage.js}"></script>
<script th:src="@{/js/cart.js}"></script>
<script th:src="@{/js/wishlist.js}"></script>
</body>
</html>