<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn" crossorigin="anonymous" />
  <link rel="stylesheet" th:href="@{/css/wishlist.css}">
  <title>Wishlist</title>
</head>
<body>
    <th:block th:insert="~{fragments/header.html}"/>
    <div class="wishlist-container">
      <h1>My Wishlist</h1>

      <div class="headers">
        <p>ITEM</p>
        <p>PRICE</p>
      </div>

      <!-- <div th:each="product : ${products}" class="wishlist-item">
          <img th:src="@{/images/panadol-advance-24-tablets-285579_1024x.webp}" alt="Item 1" class="wishlist-image">
          <div class="wishlist-details">
            <div class="item-name" th:text="${product.item_title}"></div>
            <div class="item-price">EGY <span th:text="${product.item_price}"></span></div>
            <div class="item-description" th:text="${product.item_details}"></div>
          </div>
          <div>
              <button class="remove-button" th:data-product-id="${product.item_id}"><i class="fas fa-trash"></i> Remove</button>
              <a th:href="@{/product/itempage(id=${product.item_id})}"><button class="quick-view-button"><i class="fas fa-search"></i>View</button></a>
          </div>
      </div> -->
    </div>
      

    <th:block th:insert="~{fragments/footer.html}"/>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script th:src="@{/js/wishlist.js}"></script>

</body>
</html>
